PORT=4000

ORIGIN_URL=http://localhost:3000

DB_SOURCE=localhost
PG_USERNAME=postgres
PG_PASSWORD=admin
PG_DATABASE=wsrp-client

JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----"